.metadata/
RemoteSystemsTempFiles/
*.rar
*/**/*.rar
*/**/*.jar
*/**/*.war
*/**/.metadata/
**/RemoteSystemsTempFiles/
*/**/.idea/
APPS/nearshore-appsms/.idea/
APPS/.recommenders/
CATALOGS/.recommenders/
